.banner{
    text-align:center;
}

.main-header{
    text-align:center;
    font-size:30pt;
    padding:20px;
    padding-bottom:15px;
    color:white;
    background-color: rgb(130,20,20);
    
}

.main-section-header{
    padding:5px;
    padding-top:10px;
    padding-bottom:0px;
    font-size:18pt;
}

.highlight{
    padding-bottom:10px;
    padding-top:0px;
    border-top: double 5px;
    border-bottom: double 5px;
    border-color: black;
}

.highlight-phantom{
    border-top: double 5px;
    border-bottom: double 0px;
    border-color: white;
}

.member {
    color: #555;
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
    width: 175px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.member .bio {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

.member img{
    height: 150px;
    border-radius: 100px;
    border: 3px solid #FFF;
    box-shadow: 0 0 7px 0px #AAA;
}

.text{
    font-size: 11pt;
    padding:5px;
    text-align:justify;
}

.nav{
    text-align:center;
    padding:10px;
    background-color:rgb(30,30,30);
    color:white;
}

.nav-btn {
    padding-left:50px;
    padding-right:50px;
    text-align:center;
}

.nav-btn-sm {
    padding-left:10px;
    padding-right:10px;
    text-align:center;
}

.nav-btn a:link{
    color:white;
}
.nav-btn a:visited{
    color:white;
}
.nav-btn a:hover{
    color:rgb(100,100,250);
}
.nav-btn a:active{
    color:white;
}

.container{
    max-width:960px;
}
